.formInput {
	border: 0.06rem solid black;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	width: 100%;
	margin-top: 0.2rem;
	margin-bottom: 0;
}

.invalidReason {
	margin-top: 0.05rem;
	color: red;
	opacity: 0.6;
	margin-bottom: 0;
}
