.authBar {
	background-color: white;
	position: fixed;
	height: auto;
	max-height: 60%;
	width: auto;
	min-width: 16rem;
	max-width: 80%;
	top: calc(var(--header-height) + 1%);
	right: 1%;
	border-radius: 0.4rem;
	border: 1rem solid #eee;
	flex-direction: column;
	box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.3);
	transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
	transform: scale(0);
	opacity: 0;
	transform-origin: top right;

	&.show {
		transform: scale(1);
		opacity: 1;
	}

	.authenticated,
	.notAuthenticated {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		padding: 1rem;
		p {
			font-size: 1.2rem;
			text-align: center;
		}

		button {
			width: 100%;
		}
	}
}
